@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

.quicksand-regular {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}





/* Universal CSS properties */

.container {
    max-width: 1160px;
    margin: 0 auto;
}
.primary-bg-color {
    background-color: #FEA301;
}

.black-bg {
    background-color: #000;
}
.skyblue-color {
    color: #01ACFD;
}
.orange-color {
    color: #FEA301;
}

.white-color{
    color: #fff;
}
.aurora-black{
    color: #202020;
}

.btn-1{
    color: #fff;
    padding: 10px 50px;
    border-radius: 12px;
    font-size: 20px;
    border: none;
}
.btn-1:hover{
    background-color: #202020;
}

.hide{
    display: none;
}

/* Header Styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 62px;
    height: 62px;
    margin-right: 10px;
}
.logo h2{
    font-size:32px ;
    font-weight: 700;
}

.menu ul{
    display: flex;
    list-style: none;
    gap: 32px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.menu-1{
    color: #FEA301;
}
.menu-2{
    color: #01ACFD;
}
.menu-4{
    color: red;
}

.hamburger-menu{
    display: none;
}

/* Hero section styles */

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}


.hero-text{
    font-size: 56px;
    font-weight: 700;
}
.hero-description{
    font-size: 20px;
    margin: 20px 0;
}

/* Curiculum Section Styles */
.curriculum{
    background-image: url('assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.raleway-texts {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }
.curriculum h2{
    font-size: 46px;
    font-weight: 700;
    text-align: center;
}
.curriculum-heading{
    font-size: 24px;
    color: #202020;
    margin-bottom: 20px;
}

.curriculum-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    text-align: center;
}

.curriculum-1,
.curriculum-2,
.curriculum-3 {
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    
}
.curriculum-1{
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 40%, rgba(0, 212, 255, 0.1) 100%);

}
.curriculum-2{
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 40%, rgba(255, 244, 220, 1) 100%);

}

.curriculum-3{
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 40%, rgba(242, 232, 255, 1) 100%);

}

.curriculum-img{
    width: 130px;
    height: 100px;
    margin-bottom: 40px;
}

.read-more{
    margin: 20px 0;
}

/* Navigation Section Styles  */

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 10px;
}

.navigation i{
    font-size: 20px;
    background-color: #FEA301;
    padding: 20px 22px;
    border-radius: 48%;
    color: #fff;
    font-weight: 700;
}

/* Story Section Styles  */
.stories {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 40%, rgba(203, 148, 8, 0.3) 100%);


}
.gradient{
    background-image: url('assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.stories-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    gap: 15px;
}

.stories-big{
    max-width: 45%;

}

.stories-img{
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.stories h2{
    font-size: 46px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}

.stories-content{
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 0 0 16px 16px;
}

.stories-heading{
    font-size: 24px;
    font-weight: 700;
    padding: 45px 0;
}

.stories-smalls{
    width: 55%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.small-stories-heading{
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
}

.btn-2{
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    border: none;
}
.btn-2:hover{
    background-color: grey;
}

.stories-btn{
    margin-top: -50px;
}
.view-all{
    text-align: center;
    padding-bottom: 30px;
}

/* Footer styles */
footer{
    background-color: #01ACFD;
    color: #fff;
    padding: 50px 0;
}

.footer-content{
    display: flex;
    justify-content: space-between;

}
.footer-part1{
    width: 30%;
}
.footer-logo{
    display: flex;
    align-items: center;
}

.footer-logo img{
    width: 83px;
    height: 83px;
}
.footer-logo h3{
    font-size: 42px;
    font-weight: 700;
}
.footer-part1 p{
    font-size: 16px;
    margin: 20px 10px;
}

.footer-menu ul li{
    list-style: none;
    margin: 10px 0;
}

.footer-menu ul li a{
    text-decoration: none;
    color: #fff;
}



.footer-menu h3{
    font-size: 24px;
    font-weight: 700;
}

.footer-social h3{
    font-size: 24px;
    font-weight: 700;
}

.footer-social img{
    width: 30px;
    margin: 20px 2px;
}






/* responsiveness media-queries */

@media screen and (max-width: 576px){

    .container {
        max-width: 95%;
        margin: 0 auto;
    }
    header{
        border-bottom: 1px solid #FEA301;
    }
   
    .menu{
        display: none;
    }
    .contact{
        display: none;
    }
    .logo h2{
        display: none;
    }
    .hamburger-menu{
        display: inline;
    }

/* Hero section Mobile  */

    .hero{
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-image img{
        width: 90%;
    }

    .hero-text{
        font-size: 32px;
        margin-top: 20px;
    }
    .hero-description{
        font-size: 14px;
        padding: 0 10%;
    }

    /* Curriculum Section Mobile */
    .raleway-texts {
        font-size: 12px;
      }
    .curriculum-cards{
        flex-direction: column;
    }
    .curriculum h2{
        font-size: 26px;
    }
    .curriculum-heading{
        font-size: 17px;
    }
    .see-more{
        font-size: 14px;
    }

    .navigation{
        display: none;
    }

    /* Stories Section Mobile */
    .stories-big{
        display: none;
    
    }
    .stories-smalls{
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }

    .small-stories-heading{
        font-size: 10px;

    }
    
    .btn-2{
        font-size: 10px;
    }


    .footer-content{
        flex-direction: column;
    
    }
    .footer-part1{
        width: 90%;
    }

    .footer-menu, .footer-social{
        margin-left: 10px;
    }

 
    
}



