@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

.quicksand-regular {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-texts {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

/* Universal CSS properties */

.container {
    max-width: 1160px;
    margin: 0 auto;
}
.primary-bg-color {
    background-color: #FEA301;
}

.black-bg {
    background-color: #000;
}
.skyblue-color {
    color: #01ACFD;
}
.orange-color {
    color: #FEA301;
}

.white-color{
    color: #fff;
}
.aurora-black{
    color: #202020;
}

.btn-1{
    color: #fff;
    padding: 10px 50px;
    border-radius: 12px;
    font-size: 20px;
    border: none;
}
.btn-1:hover{
    background-color: #202020;
}

.hide{
    display: none;
}

/* Header Styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 62px;
    height: 62px;
    margin-right: 10px;
}
.logo h2{
    font-size:32px ;
    font-weight: 700;
}

.menu ul{
    display: flex;
    list-style: none;
    gap: 32px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.menu-1{
    color: #FEA301;
}
.menu-2{
    color: #01ACFD;
}
.menu-4{
    color: red;
}

.hamburger-menu{
    display: none;
}

/* Hero section styles */

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}


.hero-text{
    font-size: 56px;
    font-weight: 700;
}
.hero-description{
    font-size: 20px;
    margin: 20px 0;
}




/* responsiveness media-queries */

@media screen and (max-width: 576px){

    .container {
        max-width: 95%;
        margin: 0 auto;
    }
    header{
        border-bottom: 1px solid #FEA301;
    }
   
    .menu{
        display: none;
    }
    .contact{
        display: none;
    }
    .logo h2{
        display: none;
    }
    .hamburger-menu{
        display: inline;
    }



    .hero{
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-image img{
        width: 90%;
    }

    .hero-text{
        font-size: 32px;
        margin-top: 20px;
    }
    .hero-description{
        font-size: 14px;
        padding: 0 10%;
    }
    
}
